<form method="post" action="{{ path('recipe_delete', {'recipeSlug': recipe.slug}) }}"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cette recette?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
    <button class="btn btn-secondary">Supprimer</button>
</form>
