{% extends 'base.html.twig' %}

{% block title %}Modifier une recette{% endblock %}

{% block body %}
    <div class="container">
        <div class="row my-4">
            <div class="col text-center">
                <h1>Modifier une recette</h1>
            </div>
        </div>
    </div>

    {{ include('recipe/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
